################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Upload File/.vs/WebAPIFile/v16/Server/sqlite3
